.sidenav {
    height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 50;
    left: 0;
    background-color: #f7f8f9;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #737474;
    display: block;
    align-items: center;
  }

  .sidenav a:hover {
    color: #181818;
  }

  .sidenav img {
      width: 30px;
      position:relative;
  }  
  
  .sidenav svg {
    fill: blue;
  }
  
  .sidenav ul {
      list-style-type: none;
      padding-inline-start: 0px;
    }
  
  .sidenav h5 {
    font-weight: 600;
    font-size: 0.6875rem;
  }

.main-content {
margin-left: 125px; /* Same as the width of the sidenav */
font-size: 14px; /* Increased text to enable scrolling */
padding: 10px 10px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}